header{
    height: 50px;
    margin-bottom: 20px;
}
#navbar{
    background-color: #f3a839;
}
#navbar ul.header-list>li>a{
    letter-spacing: 0.1em;
}
#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.popup-qty{
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    top: 12px;
    left: 12px;
    border-radius: 100%;
    line-height: 1.3;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color : #f3a839;
}
.span-total-header{
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
}
.minicart{
    position: absolute;
    right: 0;
    width: 350px;
    top: 40px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 2;
}
.minicart .minicart-product{
    height: 300px;
    overflow: auto;
}
.minicart .minicart-info{
    height: 110px;
    font-size: 14px;
    border-top: 1px solid #ccc;

}
.minicart .minicart-box{
    height: 130px;
    margin-bottom: 10px;
}
.minicart .minicart-box>div{
    height: 100%;
}
.minicart .minicart-img{
    height: 110px;
    width: 90px;
    overflow: hidden;
    margin-left: 0;
}
.minicart .minicart-header{
    height: 25px;
    padding: 5px
}
.minicart .minicart-img a{
    display: block
}
.minicart .minicart-img img{
    height: 100%;
    width: 100%;
    margin: auto;
}
.minicart .minicart-content ul{
    line-height: normal
}
.minicart .minicart-content ul>li{
    margin-bottom: 10px
}
.btn-checkout-minicart{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #f3a839;
    font-size: 14px !important;
    line-height: 40px;
    font-weight: 500;
}
.btn-checkout-minicart:hover{
    color: #fff;
}
@media all and (max-width: 767px) {
    .header-container-desktop{
        display: none;
    }
    .header-container-mobile{
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 15px 0;
        display: block;
        text-align: center;
    }
    .header-container-mobile ul.header-list{
        padding: 10px;
    }
    .header-container-mobile ul.header-list>li a{
        color: #444;
    }
    .header-container-mobile ul.header-list>li{
        text-align: left;
    }
    .header-container-mobile .menu-bar{
        position: fixed;
        top: 50px;
        height: calc(100vh - 50px);
        background: #fff;
        z-index: 5;
        width: 100vw;
        display: none;
    }
    .header-container-mobile .menu-bar.active{
        display: block;
    }
}
@media all and (min-width: 767px) {
    .header-container-mobile{
        display: none;
    }
    .header-container-desktop ul.header-list>li a{
        color: #fff;
        text-align: left;
    }
    .header-container-desktop ul.header-list>li  ul.header-is-login>li a{
        color: #f3a839;
    }
    .header-container-desktop{
        height: 100%;
        width: 70%;
        margin: auto;
        display: block;
    }
    .header-container-desktop ul.header-list{
        margin: 0;
        padding: 0;
        line-height: 50px;
    }
    .header-container-desktop ul.header-list>li{
        margin-right: 15px;
        float: left;
    }
    .header-container-desktop ul.header-list>li>a{
        font-size: 18px;
        text-transform: capitalize
    }
    .header-container-desktop ul.header-is-login{
        position : absolute;
        top : 40px;
        right : 0;
        background : #fff;
        /* border : 1px solid #ccc; */
        padding : 0 10px;
        z-index: 2;
        width: max-content;
        box-shadow: 0px 9px 11px 4px #ccc;
        }
    .header-container-desktop ul.header-is-login>li{
        font-size: 13px;
        line-height: 3;
    }
    @keyframes openSearch {
        0% {width: 0;}
        100% {width: 150px;}
      }
      @keyframes closeSearch {
        0% {width: 150px;}
        100% {width: 0;}
      }
    .header-container-desktop .input-group.input-group-sm{
        margin-top: 13px;
    }
    .header-container-desktop .input-group-text{
        background: #f3a839;
        border: unset;
    }
    .header-container-desktop .input-group-search input{
        border: 0;
        border-radius: 0 10px 10px 0;
        width: 0;
        padding: 0;
    }
    .header-container-desktop .input-group-search input:focus{
        outline: unset;
        border: unset !important;
        box-shadow: unset;
    }
    .header-container-desktop .input-group-search.active .input-group-icon{
        border: 1px solid #fff;
        border-radius: 10px 0 0 10px;
    }
    .header-container-desktop .input-group-search.active input {
        width: 150px;
        animation-name: openSearch;
        border: 1px solid #fff;
        padding: 5px;
        animation-duration: 0.5s;
    }
    .header-container-desktop .input-group-search.have-animate input{
        border: 0;
        border-radius: 0 10px 10px 0;
        width: 0;
        padding: 0;
        animation-name: closeSearch;
        animation-duration: 0.5s;
    }
}