header{
    height: 50px;
}
#navbar{
    background-color: #f3a839;
}
#navbar a{
    color: #fff;
}
#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.minicart{
    position: absolute;
    right: 0;
    width: 350px;
    height: 300px;
    top: 40px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 2;
}
@media all and (max-width: 767px) {

}
@media all and (min-width: 767px) {
    .header-container{
        height: 100%;
        width: 70%;
        margin: auto;
    }
    .header-container ul{
        margin: 0;
        padding: 0;
        line-height: 50px;
    }
    .header-container ul>li{
        display: inline-block;
        margin-right: 10px;
    }
    .header-container ul>li a{
        font-size: 18px;
        text-transform: capitalize
    }
}