header{
    height: 50px;
    margin-bottom: 20px;
}
#navbar{
    background-color: #f3a839;
}
#navbar ul.header-list>li>a{
    color: #fff;
    letter-spacing: 0.1em;
}
#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.popup-qty{
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    top: 12px;
    left: 12px;
    border-radius: 100%;
    line-height: 1.3;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color : #f3a839;
}
.minicart{
    position: absolute;
    right: 0;
    width: 350px;
    top: 40px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 2;
}
.minicart .minicart-product{
    height: 300px;
    overflow: auto;
}
.minicart .minicart-info{
    height: 110px;
    font-size: 14px;
    border-top: 1px solid #444;

}
.minicart .minicart-box{
    height: 130px;
    margin-bottom: 10px;
}
.minicart .minicart-box>div{
    height: 100%;
}
.minicart .minicart-img{
    height: 110px;
    width: 90px;
    overflow: hidden;
    margin-left: 0;
}
.minicart .minicart-header{
    height: 25px;
    padding: 5px
}
.minicart .minicart-img a{
    display: block
}
.minicart .minicart-img img{
    height: 100%;
    width: 100%;
    margin: auto;
}
.minicart .minicart-content ul{
    line-height: normal
}
.minicart .minicart-content ul>li{
    margin-bottom: 10px
}
.btn-checkout-minicart{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #f3a839;
    font-size: 14px !important;
    line-height: 40px;
    font-weight: 500;
}
.btn-checkout-minicart:hover{
    color: #fff;
}
@media all and (max-width: 767px) {

}
@media all and (min-width: 767px) {
    .header-container{
        height: 100%;
        width: 70%;
        margin: auto;
    }
    .header-container ul.header-list{
        margin: 0;
        padding: 0;
        line-height: 50px;
    }
    .header-container ul.header-list>li{
        display: inline-block;
        margin-right: 15px;
    }
    .header-container ul.header-list>li a{
        font-size: 18px;
        text-transform: capitalize
    }
}