.layer-navigation{
    width: 100%;
    height: 100%;
}
.layer-navigation .filter-title{
    color: #cccccc;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.layer-navigation .filter-container span{
    cursor: pointer;
}