.link-page{
    margin-bottom: 20px;
    text-align: center;
}
.page{
    display: inline-block;
}
.page a{
    border: 1px solid #f3a839;
    display: block;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #f3a839;
}
.page a:hover,.page.activePage a{
    background: #f3a839;
    color: #ffffff;
}