.box-login{
    border: 1px solid #ccc;
    width: 100%;
    min-height: 350px;
    padding: 30px;
}
.box-login .btn-in-box-login{
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid #f3a839;
    color: #f3a839;
    text-transform: uppercase;
    max-width: max-content;
    background: #fff;
    letter-spacing: 0.1em;
    position: relative;
}
.error-message{
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    background: #e4e4e4;
    border-radius: 10px;
}
.box-login .login-loading{
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    background: #fff;
    opacity: 0.8;
    z-index: 2;
    text-align: center;
    padding-top: calc(50% / 2);
}