header{
    height: 50px;
}
#navbar{
    overflow: hidden;
    background-color: #f3a839;
}
#navbar a{
    color: #fff;
}
#navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
@media all and (max-width: 767px) {

}
@media all and (min-width: 767px) {
    .header-container{
        height: 100%;
        width: 70%;
        margin: auto;
        overflow: hidden;
    }
    .header-container ul{
        margin: 0;
        padding: 0;
        line-height: 50px;
    }
    .header-container ul.header-list li{
        display: inline-block;
        margin-right: 10px;
    }
    .header-container ul.header-list li a{
        font-size: 18px;
        text-transform: capitalize
    }
}